In [1]:
import pandas as pd

In [78]:
population = pd.read_csv("population_communes.csv")
population.head()

surface = pd.read_csv("surface_departements.csv")
surface.head()

  code_insee               nom  surf_km2
0        974        La Réunion    2505.0
1         11              Aude    6343.0
2         43       Haute-Loire    5003.0
3         13  Bouches-du-Rhône    5247.0
4         47    Lot-et-Garonne    5385.0

In [107]:
pop_sum = population.groupby(["variable", "Code département", "Code région"])["value"].sum()
pop_sum = pop_sum.reset_index()
pop_sum = pop_sum.pivot_table(values="value", index=["Code département", "Code région"], columns="variable") # Pivot_table >>> pivot. Comme ca, on peut faire du multi-index
pop_sum.head()
pop_sum = pop_sum.reset_index()
pop_sum['pct_pop_municipale'] = pop_sum["Population municipale"]/pop_sum["Population totale"]
#pop_sum["Population municipale"] = pop_sum[pop_sum["variable"]=="Population municipale"]["value"]
#pop_sum["Population totale"] = pop_sum[pop_sum["variable"]=="Population totale"]["value"]

In [112]:
pop_sum = pop_sum.merge(surface, left_on="Code département", right_on="code_insee")

In [113]:
pop_sum["Population Région"] = pop_sum.groupby("Code région").transform('sum').reset_index()["Population totale"] # Beaucoup plus simple le transform plutot que sum. On evite un join apres

In [114]:
pop_sum['Densité'] = pop_sum["Population totale"]/pop_sum["surf_km2"]

In [117]:
pop_sum['Part région'] = 100*pop_sum["Population totale"]/pop_sum["Population Région"]

In [118]:
pop_sum

,Code département,Code région,Population municipale,Population totale,pct_pop_municipale,Population Région,code_insee,nom,surf_km2,Densité,Part région
0,01,84,638425,655171,0.974440,8104357,01,Ain,5784.0,113.272994,8.08418
1,02,32,536136,549587,0.975525,6110588,02,Aisne,7411.0,74.158278,8.99401
2,03,84,339384,349336,0.971512,8104357,03,Allier,7379.0,47.341916,4.31047
3,04,93,162565,167331,0.971518,5103573,04,Alpes-de-Haute-Provence,6993.0,23.928357,3.2787
4,05,93,141107,146148,0.965508,5103573,05,Hautes-Alpes,5697.0,25.653502,2.86364
...,...,...,...,...,...,...,...,...,...,...,...
95,95,11,1221923,1237218,0.987638,12258425,95,Val-d'Oise,1253.0,987.404629,10.0928
96,971,1,394110,400170,0.984856,400170,971,Guadeloupe,1634.0,244.902081,100
97,972,2,376480,382294,0.984792,382294,972,Martinique,1089.0,351.050505,100
98,973,3,269352,271829,0.990888,271829,973,Guyane,83543.0,3.253762,100
99,974,4,852924,862814,0.988538,862814,974,La Réunion,2505.0,344.436727,100